<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <h1>로그인 판별</h1>
        {{#if login}}
        로그인 성공
        {{else}}
        로그인 실패
        {{/if}}
    </body>
</html>