<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>write</h1>
    <form action="/writeprocess" method="GET">
    title: <input type="text" placeholder="title를 입력하시오." name="title">
    <br>
    content : <input type="text" placeholder="content를 입력하시오" name="content"> 
    <button>writeprocess</button>
    </form>
    <form action="/templete">
     <br>
     <h1>templete</h1> 
    <button>templete</button>
    </form>
  </body>
</html>